hr {
    border: none;
    color: white;
    background-color: white;
    height: 1px;
   }
body{
margin-top:0;
margin-left:0;
margin-right:0;
margin-bottom:0;
padding:0;
line-height: calc(1.2em + (62 - 1.2) * ((100vw - 200px) / (8200 - 200)));
background-color: #301d23;
background-image: url("bg.png")
}
.biggradient{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
background: rgb(89,62,63);
background: -moz-radial-gradient(circle, rgba(89,62,63,0.8015581232492998) 6%, rgba(17,3,9,0.8015581232492998) 100%);
background: -webkit-radial-gradient(circle, rgba(89,62,63,0.8015581232492998) 6%, rgba(17,3,9,0.8015581232492998) 100%);
background: radial-gradient(circle, rgba(89,62,63,0.8015581232492998) 6%, rgba(17,3,9,0.8015581232492998) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#593e3f",endColorstr="#110309",GradientType=1);
}
p1 {
	font-family: ClearSans;
	font-size: calc(17px + (70 - 17) * ((100vw - 300px) / (8200 - 200)));
	color: #301e20;
	font-weight: normal;
}
p2 {
	font-family: ClearSans;
	font-size: calc(15px + (62 - 15) * ((100vw - 300px) / (8200 - 200)));
	color: #d53277;
	font-weight: normal;
}
.POLOSKAh{
background: rgb(190,231,210);
background: -moz-linear-gradient(90deg, rgba(190,231,210,1) 0%, rgba(207,240,226,1) 25%, rgba(229,250,243,1) 50%, rgba(207,240,226,1) 75%, rgba(207,240,226,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(190,231,210,1) 0%, rgba(207,240,226,1) 25%, rgba(229,250,243,1) 50%, rgba(207,240,226,1) 75%, rgba(207,240,226,1) 100%);
background: linear-gradient(90deg, rgba(190,231,210,1) 0%, rgba(207,240,226,1) 25%, rgba(229,250,243,1) 50%, rgba(207,240,226,1) 75%, rgba(207,240,226,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bee7d2",endColorstr="#cff0e2",GradientType=1);
		width: 48%;
		height: auto;
		margin-left:auto;
		margin-right:auto;
		margin-top:.7%;
		min-width: 800px;
		opacity: 0.89;
		border: 2px solid #301d23; 
		outline: 1px solid #a7a0a1;
		box-shadow: -12px 12px 22px rgba(0,0,0,0.6);
	}
@media screen and (max-aspect-ratio: 12/16){
	.POLOSKAh{
		width: 97%;
		margin-left:auto;
		margin-right:auto;
		min-width: 300px;
	}
}
@media (max-width: 805px){
	.POLOSKAh{
		width: 97%;
		margin-left:auto;
		margin-right:auto;
		min-width: 300px;
	}
}
.POLOSKA{
background: rgb(190,231,210);
background: -moz-linear-gradient(90deg, rgba(190,231,210,1) 0%, rgba(207,240,226,1) 25%, rgba(229,250,243,1) 50%, rgba(207,240,226,1) 75%, rgba(207,240,226,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(190,231,210,1) 0%, rgba(207,240,226,1) 25%, rgba(229,250,243,1) 50%, rgba(207,240,226,1) 75%, rgba(207,240,226,1) 100%);
background: linear-gradient(90deg, rgba(190,231,210,1) 0%, rgba(207,240,226,1) 25%, rgba(229,250,243,1) 50%, rgba(207,240,226,1) 75%, rgba(207,240,226,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bee7d2",endColorstr="#cff0e2",GradientType=1);
		width: 48%;
		height: auto;
		margin-left:auto;
		margin-right:auto;
		margin-top:.7%;
		min-width: 800px;
		opacity: 0.89;
		border: 2px solid #301e20; 
		outline: 1px solid #a7a0a1;
		box-shadow: -12px 12px 22px rgba(0,0,0,0.6);
		display: flex;
		justify-content: space-between;
	}
@media screen and (max-aspect-ratio: 12/16){
	.POLOSKA{
		width: 97%;
		margin-left:auto;
		margin-right:auto;
		min-width: 300px;
	}
}
@media (max-width: 805px){
	.POLOSKA{
		width: 97%;
		margin-left:auto;
		margin-right:auto;
		min-width: 300px;
	}
}
.POLOSKAt{
		width: 40%;
		height: auto;
		margin-left:auto;
		margin-right:auto;
		margin-top:.7%;
		min-width: 800px;
		display: flex;
		justify-content: space-between;
	}
@media screen and (max-aspect-ratio: 12/16){
	.POLOSKAt{
		width: 90%;
		margin-left:auto;
		margin-right:auto;
		min-width: 300px;
	}
}
@media (max-width: 805px){
	.POLOSKAt{
		width: 90%;
		margin-left:auto;
		margin-right:auto;
		min-width: 300px;
	}
}
img.logo {
  object-fit: contain;
  display: block;
  height: auto;
  width: 100%;
}
img.picex {
  object-fit: contain;
  display: inline-block;
  align: right;
  vertical-align: top;
  height: auto;
  width: 100%;
  overflow: auto;
}
.contentl {
    box-sizing: border-box;
    padding: 2%;
	align: left;
	width: 47%;
}
.contentr {
    box-sizing: border-box;
    padding: 0.7%;
	align: right;
	width: 50%
}
.content {
    box-sizing: border-box;
    padding: 0.7%;
	width: 25%
}