body{
font-size: calc(16px + 42 * ((100vw - 300px) / (8500 - 300)) + 51 * ((100vh - 500px) / (8500 - 500)));
line-height: calc(1.2em - 14 * ((100vw - 300px) / (8500 - 300)) - 7 * ((100vh - 500px) / (8500 - 500)));
margin-top:0.7em;
margin-left:0;
margin-right:0;
margin-bottom:0;
padding:0;
background-color: #3b1d24;
background-image: url("bg.png");
image-rendering: -webkit-optimize-contrast;
color-profile: url("http://www.color.org/profiles/sRGB2014.icc");
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-rendering-mode: enhanced;
}

a {color: black;}
a:link  {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}

a.body {color:#d22e75;}
a.body:link  {text-decoration: none; color: #d22e75;}
a.body:visited {text-decoration: none; color: #d22e75;}
a.body:hover {text-decoration: none; color: white; transition: 0.2s linear;  text-shadow: 0 0 0.05em #d22e75, 0 0 0.25em white;}
a.body:active {text-decoration: none; color: white; transition: 0.2s linear; text-shadow: 0 0 0.3em white, 0 0 0.2em white;}

a.footer {color:#a6a9a6;}
a.footer:link  {text-decoration: none; color: #a6a9a6;}
a.footer:visited {text-decoration: none; color: #a6a9a6;}
a.footer:hover {text-decoration: none; color: white; transition: 0.2s linear;}
a.footer:active {text-decoration: none; color: white; transition: 0.2s linear;}

a.menu {color:#c6f0e2;}
a.menu:link {text-decoration: none; color: #c6f0e2;}
a.menu:visited {text-decoration: none; color: #c6f0e2;}
a.menu:hover {text-decoration: none; color: white; font-size: 1.1em; text-shadow: -0.25em 0.12em 0.22em black, 0 0 0.1em white; transition: 0.2s linear;}
a.menu:active {text-decoration: none; color: white; font-size: 1.07em; text-shadow: -0.20em 0.10em 0.18em black, 0 0 0.3em white, 0 0 0.2em white;}

hr {
	border: 0;
    height: 0.04em;
	background: rgba(123,124,124,0.6);
	-moz-box-shadow: 0 0.04em 0.06em #d4f3f1;
	-webkit-box-shadow: 0 0.04em 0.06em #d4f3f1;
	box-shadow: 0 0.04em 0.06em #d4f3f1;
}

.biggradient{
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
background: #3b1d24;
background: -moz-radial-gradient(circle, rgba(154,91,97,0.64) 1%, rgba(10,2,8,0.88) 100%);
background: -webkit-radial-gradient(circle, rgba(154,91,97,0.64) 1%, rgba(10,2,8,0.88) 100%);
background: radial-gradient(circle, rgba(154,91,97,0.64) 1%, rgba(10,2,8,0.88) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9a5b61",endColorstr="#0a0208",GradientType=1);
}
p1 {
	font-family: ClearSans;
	color: #301e20;
	font-weight: normal;
}
p2 {
	font-family: ClearSans;
	color: #def2eb;
	font-weight: normal;
	text-shadow: -0.05em 0.07em 0.1em black;
}
p3 {
	font-family: ClearSans;
	color: #757373;
	font-weight: normal;
	font-size: 0.6em;
}
.POLOSKAh{
background: #a6c6c0;
background: -moz-linear-gradient(90deg, rgba(188,246,231,0.65) 0%, rgba(200,247,237,0.75) 27%, rgba(217,249,247,0.89) 52%, rgba(200,247,237,0.75) 77%, rgba(188,246,231,0.65) 100%);
background: -webkit-linear-gradient(90deg, rgba(188,246,231,0.65) 0%, rgba(200,247,237,0.75) 27%, rgba(217,249,247,0.89) 52%, rgba(200,247,237,0.75) 77%, rgba(188,246,231,0.65) 100%);
background: linear-gradient(90deg, rgba(188,246,231,0.65) 0%, rgba(200,247,237,0.75) 27%, rgba(217,249,247,0.89) 52%, rgba(200,247,237,0.75) 77%, rgba(188,246,231,0.65) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bcf4e7",endColorstr="#bcf4e7",GradientType=1);
		width: 46%;
		height: auto;
		margin-left:auto;
		margin-right:auto;
		min-width: 800px;
		outline: 0.06em solid rgba(255, 255, 255, 0.5);
		outline-offset: 0.12em;
		-moz-box-shadow: -0.25em 0.22em 0.4em 0.12em rgba(28,0,18,0.5), -0.32em 0.31em 0.85em 0.22em rgba(28,0,18,0.7), -0.35em 0.15em 1.5em 0.42em rgba(28,0,18,0.5);
		-webkit-box-shadow: -0.25em 0.22em 0.4em 0.12em rgba(28,0,18,0.5), -0.32em 0.31em 0.85em 0.22em rgba(28,0,18,0.7), -0.35em 0.15em 1.5em 0.42em rgba(28,0,18,0.5);
		box-shadow: -0.30em 0.22em 0.4em 0.12em rgba(18,0,28,0.35), -0.32em 0.31em 0.75em 0.25em rgba(28,0,18,0.75), -0.35em 0.15em 1.5em 0.42em rgba(18,0,28,0.35);
		z-index: 5;
		position: relative;
		margin-bottom: 0.11em;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		-webkit-tap-highlight-color: transparent;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
@media screen and (max-aspect-ratio: 12/16){
	.POLOSKAh{
		width: 94%;
		margin-left:auto;
		margin-right:auto;
		min-width: 300px;
	}
}
@media (max-width: 805px){
	.POLOSKAh{
		width: 94%;
		margin-left:auto;
		margin-right:auto;
		min-width: 300px;
	}
}
.POLOSKA{
background: #a6c6c0;
background: -moz-linear-gradient(90deg, rgba(188,246,231,0.65) 0%, rgba(200,247,237,0.75) 27%, rgba(217,249,247,0.89) 52%, rgba(200,247,237,0.75) 77%, rgba(188,246,231,0.65) 100%);
background: -webkit-linear-gradient(90deg, rgba(188,246,231,0.65) 0%, rgba(200,247,237,0.75) 27%, rgba(217,249,247,0.89) 52%, rgba(200,247,237,0.75) 77%, rgba(188,246,231,0.65) 100%);
background: linear-gradient(90deg, rgba(188,246,231,0.65) 0%, rgba(200,247,237,0.75) 27%, rgba(217,249,247,0.89) 52%, rgba(200,247,237,0.75) 77%, rgba(188,246,231,0.65) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bcf4e7",endColorstr="#bcf4e7",GradientType=1);
		width: 46%;
		height: auto;
		margin-left:auto;
		margin-right:auto;
		min-width: 800px;
		outline: 0.06em solid rgba(255, 255, 255, 0.5);
		outline-offset: 0.12em;
		margin-top: 0.11em;
		-moz-box-shadow: -0.25em 0.22em 0.4em 0.12em rgba(28,0,18,0.5), -0.32em 0.31em 0.85em 0.22em rgba(28,0,18,0.7), -0.35em 0.15em 1.5em 0.42em rgba(28,0,18,0.5);
		-webkit-box-shadow: -0.25em 0.22em 0.4em 0.12em rgba(28,0,18,0.5), -0.32em 0.31em 0.85em 0.22em rgba(28,0,18,0.7), -0.35em 0.15em 1.5em 0.42em rgba(28,0,18,0.5);
		box-shadow: -0.30em 0.22em 0.4em 0.12em rgba(18,0,28,0.35), -0.32em 0.31em 0.75em 0.25em rgba(28,0,18,0.75), -0.35em 0.15em 1.5em 0.42em rgba(18,0,28,0.35);
		display: table;
		z-index: 5;
		position: relative;
	}
@media screen and (max-aspect-ratio: 12/16){
	.POLOSKA{
		width: 94%;
		margin-left:auto;
		margin-right:auto;
		min-width: 300px;
	}
}
@media (max-width: 805px){
	.POLOSKA{
		width: 94%;
		margin-left:auto;
		margin-right:auto;
		min-width: 300px;
	}
}
.POLOSKAt{
background: #d22e75;
background: -moz-linear-gradient(90deg, rgba(48,30,32,0) 5%, rgba(213,50,119,1) 50%, rgba(48,30,32,0) 95%);
background: -webkit-linear-gradient(90deg, rgba(48,30,32,0) 5%, rgba(213,50,119,1) 50%, rgba(48,30,32,0) 95%);
background: linear-gradient(90deg, rgba(48,30,32,0) 5%, rgba(213,50,119,1) 50%, rgba(48,30,32,0) 95%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#301e20",endColorstr="#301e20",GradientType=1);
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		-webkit-tap-highlight-color: transparent;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		width: 46%;
		height: 1.6em;
		min-height: 1.6em;
		max-height: 1.6em;
		margin-left:auto;
		margin-right:auto;
		min-width: 800px;
		z-index: 1;
		position: relative;
		padding: 0.11em;
		cursor: pointer;
	}
@media screen and (max-aspect-ratio: 12/16){
	.POLOSKAt{
		width: 94%;
		margin-left:auto;
		margin-right:auto;
		min-width: 200px;
	}
}
@media (max-width: 805px){
	.POLOSKAt{
		width: 94%;
		margin-left:auto;
		margin-right:auto;
		min-width: 200px;
	}
}
.POLOSKAt:hover{
	z-index: 6;
}
.POLOSKAt:active{
	background: rgb(64,30,42);
    background: -moz-linear-gradient(90deg, rgba(48,30,32,0) 0%, rgba(235,50,122,1) 50%, rgba(48,30,32,0) 100%);
    background: -webkit-linear-gradient(90deg, rgba(48,30,32,0) 0%, rgba(235,50,122,1) 50%, rgba(48,30,32,0) 100%);
    background: linear-gradient(90deg, rgba(48,30,32,0) 0%, rgba(235,50,122,1) 50%, rgba(48,30,32,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#301e20",endColorstr="#301e20",GradientType=1);
	z-index: 6;
}
img.logo{
  object-fit: contain;
  display: block;
  height: auto;
  width: 100%;
  clear:both;
}
img.inline{
  object-fit: contain;
  display: inline-block;
  height: 0.72em;
  width: auto;
  vertical-align:center;
  margin-top:0.5em;
}
img.picex{
  object-fit: contain;
  display: inline-block;
  vertical-align: top;
  height: auto;
  width: 100%;
}
.contentl{
	display: table-cell;
    box-sizing: border-box;
    padding: 0.8em;
	vertical-align: top;
	width: 48%;
	float: left;
}
.contenttr{
	display: table-cell;
    box-sizing: border-box;
    padding: 0.7em;
	vertical-align: top;
	width: 49%;
	float: right;
}
.contentr{
	display: table-cell;
    box-sizing: border-box;
    padding: 0.5%;
	vertical-align: top;
	width: 48%;
	float: right;
}
.contentpl{
	display: table-cell;
    box-sizing: border-box;
    padding: 0.5%;
	vertical-align: top;
	width: 50%;
	float: left;
}
.content{
	display: table-cell;
    box-sizing: border-box;
    padding: 0.5%;
	padding-right: 0.6em;
	width: 25%;
	vertical-align: center;
}
.contentm{
	display: inline-block;
    box-sizing: border-box;
	width: 33.333%;
	margin-top:0.05em;
	height: 1.4em;
	min-height: 1.4em;
	max-height: 1.4em;
	align: center;
	vertical-align: center;
	overflow: hidden;
	padding:0.2em;
}
.null{
	position: absolute;
	top: 0.2em;
	right: 0.5em;
}

.podval{
		background-color: #2d191f;
		width: 46%;
		height: auto;
		margin-left:auto;
		margin-right:auto;
		min-width: 800px;
		-moz-box-shadow: -0.28em 0.20em 0.35em 0.10em rgba(18,0,28,0.3), -0.30em 0.29em 0.7em 0.22em rgba(28,0,18,0.5), -0.32em 0.12em 1.2em 0.39em rgba(18,0,28,0.3), 0 0.22em 0 0.12em black;
		-webkit-box-shadow: -0.28em 0.20em 0.35em 0.10em rgba(18,0,28,0.3), -0.30em 0.29em 0.7em 0.22em rgba(28,0,18,0.5), -0.32em 0.12em 1.2em 0.39em rgba(18,0,28,0.3), 0 0.22em 0 0.12em black;
		box-shadow: -0.28em 0.20em 0.35em 0.10em rgba(18,0,28,0.3), -0.30em 0.29em 0.7em 0.22em rgba(28,0,18,0.5), -0.32em 0.12em 1.2em 0.39em rgba(18,0,28,0.3), 0 0.22em 0 0.12em black;
		display: table;
		z-index: 5;
		position: relative;
		margin-top:1.1em;
		border-radius: 0.2em;
		margin-bottom:0.8em;
		border: 0.19em solid #2d191f;
		line-height: calc(0.85em - 14 * ((100vw - 300px) / (8500 - 300)) - 7 * ((100vh - 500px) / (8500 - 500)));
	}
@media screen and (max-aspect-ratio: 12/16){
	.podval{
		width: 94%;
		margin-left:auto;
		margin-right:auto;
		min-width: 300px;
	}
}
@media (max-width: 805px){
	.podval{
		width: 94%;
		margin-left:auto;
		margin-right:auto;
		min-width: 300px;
	}
}