html{min-height:100%;}

body{
font-size: calc(16px + 43 * ((100vw - 300px) / (8500 - 300)) + 50 * ((100vh - 500px) / (8500 - 500)));
line-height: calc(1.2em - 14 * ((100vw - 300px) / (8500 - 300)) - 8 * ((100vh - 500px) / (8500 - 500)));
margin-left:0;
margin-right:0;
margin-bottom:0;
padding:0;
background-color: #3b1d24;
background-image: url("bg.png");
image-rendering: -webkit-optimize-contrast;
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-rendering-mode: enhanced;
overflow-y:scroll;
scrollbar-width: thin;
font-family: ClearSans;
text-align: center;
min-height:100%;
}

:root {color-scheme: light only;} /*Should Prevent The Website Color Change In Dark Mode*/
 
::-moz-selection {color: white; background: rgba(215,52,123,0.75);}
::selection {color: white; background: rgba(215,52,123,0.8);}

a {color: black;}
a:link {text-decoration: none;}
a:focus {outline: 0;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}

a.body {color: #d62d76;}
a.body:link {color: #d62d76;}
a.body:focus {color: white;}
a.body:visited {color: #d62d76;}
a.body:hover {color: white; text-shadow: 0 0 0.05em #d62d76, 0 0 0.25em white; transition: 0.2s linear;}
a.body:active {text-decoration: none; color: white; text-shadow: 0 0 0.3em white, 0 0 0.2em white; transition: 0.2s linear;}

a.footer {color: #a6a9a6;}
a.footer:link {color: #a6a9a6;}
a.footer:focus {color: white;}
a.footer:visited {color: #a6a9a6;}
a.footer:hover {color: white; transition: 0.2s linear;}
a.footer:active {color: white; transition: 0.2s linear;}

a.menu {color: #c6f0e2;}
a.menu:link {color: #c6f0e2; transition: 0.1s linear;}
a.menu:focus {color: white; font-size: 1.05em; text-shadow: -0.18em 0.08em 0.16em black, 0 0 0.1em white; transition: 0.2s linear;}
a.menu:visited {color: #c6f0e2; transition: 0.1s linear;}
a.menu:hover {color: white; font-size: 1.1em; text-shadow: -0.25em 0.12em 0.22em black, 0 0 0.1em white; transition: 0.2s linear;}
a.menu:active {color: white; font-size: 1.07em; text-shadow: -0.20em 0.10em 0.18em black, 0 0 0.3em white, 0 0 0.2em white; transition: 0.2s linear;}

hr {
	border: 0;
    height: 0.04em;
	background: rgba(123,124,124,0.6);
	-moz-box-shadow: 0 0.04em 0.06em #d4f3f1;
	-webkit-box-shadow: 0 0.04em 0.06em #d4f3f1;
	box-shadow: 0 0.04em 0.06em #d4f3f1;
}

#cast{
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
background: #3b1d24;
background: -moz-radial-gradient(circle, rgba(150,90,100,0.6) 1%, rgba(10,2,8,0.88) 100%);
background: -webkit-radial-gradient(circle, rgba(150,90,100,0.6) 1%, rgba(10,2,8,0.88) 100%);
background: radial-gradient(circle, rgba(150,90,100,0.6) 1%, rgba(10,2,8,0.88) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9a5b61",endColorstr="#0a0208",GradientType=1);
}
h1 {
	font-size: 1em;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
}
h1.snap{
	text-shadow: -0.05em 0.07em 0.1em black;
	display: inline-block;
    box-sizing: border-box;
	width: 31.5%;
	height: 1.4em;
	min-height: 1.4em;
	max-height: 1.4em;
	text-align: center;
	vertical-align: bottom;
	padding:0.22em;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
h2 {
	font-size: 0.95em;
	font-weight: normal;
	padding: 2%;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
}
h3 {
	font-size: 0.9em;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
}
article {
	display: block;
}
p {
	text-indent: 1rem;
	font-weight: normal;
	font-size: 0.9em;
	color: #301e20;
	text-align: justify;
	box-sizing: border-box;
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0;
	vertical-align: middle;
	padding: 0.4%;
}
p.half {
	text-indent: 0rem;
	padding: 4%;
	width: 47%;
}
p.comm {
	text-indent: 0rem;
	width: 50.5%;
	font-size: 0.7em;
	color: #301e20;
	text-align: center;
	line-height: 1em;
	padding: 0;
}
p.fooo {
	text-indent: 0rem;
	color: #757373;
	font-size: 0.6em;
	text-align: right;
	padding: 0.8%;
	padding-right: 0.8em;
}
.gum{
		display: block;
		width: 46%;
		height: auto;
		margin-left:auto;
		margin-right:auto;
		min-width: 800px;
		z-index: 5;
		position: relative;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		-webkit-tap-highlight-color: transparent;
		-webkit-touch-callout: none;
	}
@media screen and (max-aspect-ratio: 12/16){
	.gum{
		width: 94%;
		margin-left:auto;
		margin-right:auto;
		min-width: 300px;
	}
}
@media (max-width: 805px){
	.gum{
		width: 94%;
		margin-left:auto;
		margin-right:auto;
		min-width: 300px;
	}
	#topknot{
		aspect-ratio: 180 / 106;
	}
}
#topknot{
background: #a6c6c0;
background: -moz-linear-gradient(90deg, rgba(188,246,231,0.65) 0%, rgba(200,247,237,0.75) 27%, rgba(217,249,247,0.89) 52%, rgba(200,247,237,0.75) 77%, rgba(188,246,231,0.65) 100%);
background: -webkit-linear-gradient(0deg, rgba(188,246,231,0.65) 0%, rgba(200,247,237,0.75) 27%, rgba(217,249,247,0.89) 52%, rgba(200,247,237,0.75) 77%, rgba(188,246,231,0.65) 100%);
background: linear-gradient(90deg, rgba(188,246,231,0.65) 0%, rgba(200,247,237,0.75) 27%, rgba(217,249,247,0.89) 52%, rgba(200,247,237,0.75) 77%, rgba(188,246,231,0.65) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bcf4e7",endColorstr="#bcf4e7",GradientType=1);
		-moz-box-shadow: -0.25em 0.22em 0.4em 0.12em rgba(28,0,18,0.5), -0.32em 0.31em 0.85em 0.22em rgba(28,0,18,0.7), -0.35em 0.15em 1.5em 0.42em rgba(28,0,18,0.5);
		-webkit-box-shadow: -0.25em 0.22em 0.4em 0.12em rgba(28,0,18,0.5), -0.32em 0.31em 0.85em 0.22em rgba(28,0,18,0.7), -0.35em 0.15em 1.5em 0.42em rgba(28,0,18,0.5);
		box-shadow: -0.30em 0.22em 0.4em 0.12em rgba(18,0,28,0.35), -0.32em 0.31em 0.75em 0.25em rgba(28,0,18,0.75), -0.35em 0.15em 1.5em 0.42em rgba(18,0,28,0.35);
		outline: 0.06em solid rgba(255, 255, 255, 0.5);
		outline-offset: 0.12em;
		margin-bottom: 0.11em;
		margin-top:0.7em;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		aspect-ratio: 22 / 9;
		min-height: 10.5em;
	}
#clay{
background: #a6c6c0;
background: -moz-linear-gradient(90deg, rgba(188,246,231,0.65) 0%, rgba(200,247,237,0.75) 27%, rgba(217,249,247,0.89) 52%, rgba(200,247,237,0.75) 77%, rgba(188,246,231,0.65) 100%);
background: -webkit-linear-gradient(0deg, rgba(188,246,231,0.65) 0%, rgba(200,247,237,0.75) 27%, rgba(217,249,247,0.89) 52%, rgba(200,247,237,0.75) 77%, rgba(188,246,231,0.65) 100%);
background: linear-gradient(90deg, rgba(188,246,231,0.65) 0%, rgba(200,247,237,0.75) 27%, rgba(217,249,247,0.89) 52%, rgba(200,247,237,0.75) 77%, rgba(188,246,231,0.65) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bcf4e7",endColorstr="#bcf4e7",GradientType=1);
		margin-top: 0.11em;
		-moz-box-shadow: -0.25em 0.22em 0.4em 0.12em rgba(28,0,18,0.5), -0.32em 0.31em 0.85em 0.22em rgba(28,0,18,0.7), -0.35em 0.15em 1.5em 0.42em rgba(28,0,18,0.5);
		-webkit-box-shadow: -0.25em 0.22em 0.4em 0.12em rgba(28,0,18,0.5), -0.32em 0.31em 0.85em 0.22em rgba(28,0,18,0.7), -0.35em 0.15em 1.5em 0.42em rgba(28,0,18,0.5);
		box-shadow: -0.30em 0.22em 0.4em 0.12em rgba(18,0,28,0.35), -0.32em 0.31em 0.75em 0.25em rgba(28,0,18,0.75), -0.35em 0.15em 1.5em 0.42em rgba(18,0,28,0.35);
		outline: 0.06em solid rgba(255, 255, 255, 0.5);
		outline-offset: 0.12em;
	}
#muscle{
background: #d22e75;
background: -moz-linear-gradient(90deg, rgba(48,30,32,0) 5%, rgba(213,50,119,1) 50%, rgba(48,30,32,0) 95%);
background: -webkit-linear-gradient(0deg, rgba(48,30,32,0) 5%, rgba(213,50,119,1) 50%, rgba(48,30,32,0) 95%);
background: linear-gradient(90deg, rgba(48,30,32,0) 5%, rgba(213,50,119,1) 50%, rgba(48,30,32,0) 95%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#301e20",endColorstr="#301e20",GradientType=1);
		height: 1.6em;
		min-height: 1.6em;
		max-height: 1.6em;
		z-index: 1;
		padding: 0.11em;
		cursor: pointer;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
#muscle:hover{
	z-index: 6;
}
#muscle:active{
	background: rgb(64,30,42);
    background: -moz-linear-gradient(90deg, rgba(48,30,32,0) 0%, rgba(235,50,122,1) 50%, rgba(48,30,32,0) 100%);
    background: -webkit-linear-gradient(0deg, rgba(48,30,32,0) 0%, rgba(235,50,122,1) 50%, rgba(48,30,32,0) 100%);
    background: linear-gradient(90deg, rgba(48,30,32,0) 0%, rgba(235,50,122,1) 50%, rgba(48,30,32,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#301e20",endColorstr="#301e20",GradientType=1);
	z-index: 6;
}
#sole{
		background: #2d191f;
		-moz-box-shadow: -0.28em 0.20em 0.35em 0.10em rgba(18,0,28,0.3), -0.30em 0.29em 0.7em 0.22em rgba(28,0,18,0.5), -0.32em 0.12em 1.2em 0.39em rgba(18,0,28,0.3), 0 0.22em 0 0.12em black;
		-webkit-box-shadow: -0.28em 0.20em 0.35em 0.10em rgba(18,0,28,0.3), -0.30em 0.29em 0.7em 0.22em rgba(28,0,18,0.5), -0.32em 0.12em 1.2em 0.39em rgba(18,0,28,0.3), 0 0.22em 0 0.12em black;
		box-shadow: -0.28em 0.20em 0.35em 0.10em rgba(18,0,28,0.3), -0.30em 0.29em 0.7em 0.22em rgba(28,0,18,0.5), -0.32em 0.12em 1.2em 0.39em rgba(18,0,28,0.3), 0 0.22em 0 0.12em black;
		margin-top:1.1em;
		border-radius: 0.2em;
		margin-bottom:0.8em;
		border: 0.19em solid #2d191f;
		line-height: calc(0.92em - 14 * ((100vw - 300px) / (8500 - 300)) - 7 * ((100vh - 500px) / (8500 - 500)));
		text-align: right;
	}
img{
  object-fit: contain;
  display: inline-block;
  clear:both;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
img.logo{
  height: auto;
  width: 100%;
  display: block;
}
img.cooo{
  height: auto;
  width: 100%;
  vertical-align: middle;
}
img.cooo2{
  height: auto;
  width: 98%;
  vertical-align: middle;
}
img.inline{
  height: 0.8em;
  width: auto;
  margin-top:0.5em;
}
img.picex{
  vertical-align: middle;
  height: auto;
  width: 50%;
  padding: 0.5%;
}
.content{
    box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
	padding: 3%;
	width: 90%;
	text-align: center;
}
 /* all of further is for head */
.logoz {
  position: absolute;
  bottom: 0.1em;
  left: 0.6em;
  width: 22%;
  padding: 2%;
   opacity: 0.6;
   z-index: 4;
  -webkit-animation: LogoDist 36s infinite;
}
.logozG {
  position: absolute;
  bottom: 0.1em;
  left: 0.6em;
  width: 22%;
  padding: 2%;
  mix-blend-mode: lighten;
  opacity: 0;
  z-index: 3;
}
#topknot:hover .logoz {
 z-index: 9;
 opacity: 1;
 	      filter: blur(0rem) brightness(0);
  -webkit-filter: blur(0rem) brightness(0);
 -webkit-animation: LogozHover 0.2s 1;
}
#topknot:hover .logozG {
 z-index: 8;
 	      filter: blur(0.5rem);
  -webkit-filter: blur(0.5rem);
 opacity: 0.9;
 -webkit-animation: LogozHover 0.2s 1;
}
#topknot:active .logoz {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
		  filter: brightness(1);
  -webkit-filter: brightness(1);
  transition: 0.1s linear;
}
#topknot:active .logozG {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
		  filter: blur(0.1rem);
  -webkit-filter: blur(0.1rem);
  transition: 0.1s linear;
}
@-webkit-keyframes LogozHover {
  1% {
    -webkit-transform: scaleY(1) skewX(0deg);
            transform: scaleY(1) skewX(0deg);
  }
  50% {
    -webkit-transform: scaleY(3) skewX(-10deg);
            transform: scaleY(3) skewX(-10deg);
  }
  100% {
    -webkit-transform: scaleY(1) skewX(-10deg);
            transform: scaleY(1) skewX(0deg);
  }
}
@-webkit-keyframes LogoDist {
  0% {
	     filter: hue-rotate(0deg) brightness(0.4) blur(0.05rem);
 -webkit-filter: hue-rotate(0deg) brightness(0.4) blur(0.05rem);
  }
  20% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
   25% {
	       filter: hue-rotate(90deg) brightness(0.7) blur(0.02rem);
   -webkit-filter: hue-rotate(90deg) brightness(0.7) blur(0.02rem);
  }
  41% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
   }
   50% {
	       filter: hue-rotate(180deg) brightness(0.4) blur(0.05rem);
   -webkit-filter: hue-rotate(180deg) brightness(0.4) blur(0.05rem);
   }
  61% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
     75% {
	       filter: hue-rotate(270deg) brightness(0.7) blur(0.02rem);
   -webkit-filter: hue-rotate(270deg) brightness(0.7) blur(0.02rem);
  }
  81% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1.0);
            transform: scale(1.0);
	       filter: hue-rotate(359deg) brightness(0.4) blur(0.05rem);
   -webkit-filter: hue-rotate(359deg) brightness(0.4) blur(0.05rem);
  }
}
img.headart{
  height: auto;
  width: 100%;
  display: block;
  position: relative;
}
 /* parallax */
#PrlxL0,
#PrlxL1,
#PrlxL2,
#PrlxL3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#PrlxL0 picture:nth-child(2),
#PrlxL1 picture:nth-child(2),
#PrlxL2 picture:nth-child(2),
#PrlxL3 picture:nth-child(2) {
  -webkit-animation-delay: 18s;
          animation-delay: 18s;
}
#PrlxL0 picture:nth-child(3),
#PrlxL1 picture:nth-child(3),
#PrlxL2 picture:nth-child(3),
#PrlxL3 picture:nth-child(3) {
  -webkit-animation-delay: 36s;
          animation-delay: 36s;
}
#PrlxL0 picture:nth-child(4),
#PrlxL1 picture:nth-child(4),
#PrlxL2 picture:nth-child(4),
#PrlxL3 picture:nth-child(4) {
  -webkit-animation-delay: 54s;
          animation-delay: 54s;
}
#PrlxL0 picture:nth-child(5),
#PrlxL1 picture:nth-child(5),
#PrlxL2 picture:nth-child(5),
#PrlxL3 picture:nth-child(5) {
  -webkit-animation-delay: 72s;
          animation-delay: 72s;
}

#PrlxL0 picture,
#PrlxL1 picture,
#PrlxL2 picture,
#PrlxL3 picture {
	position: absolute;
	min-width: 100%;
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	opacity: 0;
}

#PrlxL0 picture {
	-webkit-transform: scale(1.2) rotate(-4deg);
	        transform: scale(1.2) rotate(-4deg);
	-webkit-animation: PrlxL0 90s infinite;
	        animation: PrlxL0 90s infinite;
			z-index: 2;
}

#PrlxL1 picture {
  -webkit-transform: scale(1.4) rotate(4deg) translate(0.5rem, 0.5rem);
          transform: scale(1.4) rotate(4deg) translate(0.5rem, 0.5rem);
		   filter: blur(0.05rem);
   -webkit-filter: blur(0.05rem);
  -webkit-animation: PrlxL1 90s infinite;
          animation: PrlxL1 90s infinite;
		  z-index: 5;
}

#PrlxL2 picture {
  -webkit-transform: scale(2.5) rotate(8deg) translate(-2rem, -2rem);
          transform: scale(2.5) rotate(8deg) translate(-2rem, -2rem);
		   filter: blur(0.2rem);
   -webkit-filter: blur(0.2rem);
  -webkit-animation: PrlxL2 90s infinite;
          animation: PrlxL2 90s infinite;
		  z-index: 6;
}

#PrlxL3 picture {
  -webkit-transform: scale(4.4) rotate(16deg) translate(-4rem, -4rem);
          transform: scale(4.4) rotate(16deg) translate(-4rem, -4rem);
		   filter: blur(0.35rem);
   -webkit-filter: blur(0.35rem);
  -webkit-animation: PrlxL3 90s infinite;
          animation: PrlxL3 90s infinite;
		  z-index: 7;
}

@-webkit-keyframes PrlxL0 {
  1% {
    opacity: 1;
  }
  20% {
    opacity: 0.9;
  }
  21% {
    opacity: 0;
	    -webkit-transform: scale(1.02) rotate(0);
            transform: scale(1.02) rotate(0);
		    filter: blur(0.25rem);
    -webkit-filter: blur(0.25rem);
  }
}
@keyframes PrlxL0 {
  1% {
    opacity: 1;
  }
  20% {
    opacity: 0.9;
  }
  21% {
    opacity: 0;
	    -webkit-transform: scale(1.02) rotate(0);
            transform: scale(1.02) rotate(0);
		    filter: blur(0.3rem);
    -webkit-filter: blur(0.3rem);
  }
}

@-webkit-keyframes PrlxL1 {
  1% {
    opacity: 1;
  }
  20% {
    opacity: 0.95;
  }
  21% {
    opacity: 0;
	    -webkit-transform: scale(1.02) rotate(0) translate(0);
            transform: scale(1.02) rotate(0) translate(0);
		    filter: blur(0.2rem);
    -webkit-filter: blur(0.2rem);
  }
}
@keyframes PrlxL1 {
  1% {
    opacity: 1;
  }
  20% {
    opacity: 0.95;
  }
  21% {
    opacity: 0;
	    -webkit-transform: scale(1.02) rotate(0) translate(0);
            transform: scale(1.02) rotate(0) translate(0);
		    filter: blur(0.18rem);
    -webkit-filter: blur(0.18rem);
  }
}

@-webkit-keyframes PrlxL2 {
  1% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  21% {
    opacity: 0;
	    -webkit-transform: scale(1.02) rotate(0) translate(0);
            transform: scale(1.02) rotate(0) translate(0);
	-webkit-filter: blur(0);
		    filter: blur(0);
  }
}
@keyframes PrlxL2 {
  1% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  21% {
    opacity: 0;
	    -webkit-transform: scale(1.02) rotate(0) translate(0);
            transform: scale(1.02) rotate(0) translate(0);
	-webkit-filter: blur(0);
		    filter: blur(0);
  }
}

@-webkit-keyframes PrlxL3 {
  1% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  21% {
    opacity: 0;
	    -webkit-transform: scale(1.02) rotate(0) translate(0);
            transform: scale(1.02) rotate(0) translate(0);
	-webkit-filter: blur(0.15rem);
		    filter: blur(0.15rem);
  }
}
@keyframes PrlxL3 {
  1% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  21% {
    opacity: 0;
	    -webkit-transform: scale(1.02) rotate(0) translate(0);
            transform: scale(1.02) rotate(0) translate(0);
	-webkit-filter: blur(0.15rem);
		    filter: blur(0.15rem);
  }
}